@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  background-image: url("/Images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}

@media only screen and (min-width: 601px) {
   body {
      background-size: auto 100%;
      background-position: center;
  }
}

