@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


#main-contain{

background-image: url('/Images/bg.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

@media only screen and (min-width: 601px) {
  #main-contain {
    background-size: auto 100%;
    background-position: center;
  }
}

@media only screen and (min-width: 1201px) {
  #main-contain {
    background-size: cover;
  }
}